/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* custom background for carousel */
.home-carousel {
  background: url('../img/gradientDarkBlue1small.png') center center repeat;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-carousel .dark-mask {
  opacity: 0;
}
/* end of custom background for carousel */

/* custom background for aim (see-more) */
.bar.background-image-fixed-2 {
  background: url('../img/gradientDarkBlue1small.png') center top no-repeat;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* end of custom background for aim (see-more) */

/* make navbar black with white letters */
.navbar {
  background-color: #000;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-header > a {
  color: #ffffff;
  padding-top: 21px;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-header > a:hover,
.navbar-default .navbar-header > a:focus {
  color: black;
  background-color: #ffffff;
  opacity: 0.8;
}
.navbar-default .navbar-toggle:focus,
.btn-template-main {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.btn-template-main:hover {
  background-color: #38a7bb;
}
/* end of make navbar black with white letters */

/* for the team subpage */
img.team {
  max-height: 250px;
}
#team i.fa {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  color: #000;
  font-size: 25px;
  line-height: 30px;
  border-radius: 15px;
}
/* end of for the team subpage */

/* for opensource subpage */
#opensource i.fa {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #38a7bb;
  font-size: 35px;
  line-height: 30px;
  border-radius: 15px;
}
#opensource .icon:hover {
  cursor: pointer;
}
/* end of for opensource subpage */

/* image on the aim subpage */
.aim-img {
  width: 100%;
	position: absolute; /* if set to fixed, rubbish occurr on the screen*/
  left: 0%;
  top: -25%;
  opacity: 0.7;
}
/* end of image on the aim subpage */

.color-black {
  color: black;
}
